<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">User Guide</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center"></div>
    <h1>What is Bookkeeping?</h1>
    <h3>
      Bookkeeping is the process of keeping track of every financial transaction
      made by a business firm from the opening of the firm to the closing of the
      firm. Depending on the type of accounting system used by the business,
      each financial transaction is recorded based on supporting documentation.
      That documentation may be a receipt, an invoice, a purchase order, or some
      similar type of financial record showing that the transaction took place.
      The bookkeeping transactions can be recorded by hand in a journal or using
      a spreadsheet program like Microsoft Excel. Most businesses now use
      specialized bookkeeping computer programs to keep books that show their
      financial transactions. Bookkeepers can use either single-entry or
      double-entry bookkeeping to record financial transactions. Bookkeepers
      have to understand the firm's chart of accounts and how to use debits and
      credits to balance the books.1 ﻿
    </h3>
    <h1>How Does Bookkeeping Differ From Accounting?</h1>
    <h3>
      Bookkeeping in a business firm is an important, but preliminary, function
      to the actual accounting function. A bookkeeper collects the documentation
      for each financial transaction, records the transactions in the accounting
      journal, classifies each transaction as one or more debits and one or more
      credits, and organizes the transactions according to the firm's chart of
      account. The financial transactions are all recorded, but they have to be
      summarized at the end of specific time periods. Some firms require
      quarterly reports. Other smaller firms may require reports only at the end
      of the year in preparation for doing taxes. At the end of the appropriate
      time period, the accountant takes over and analyzes, reviews, interprets
      and reports financial information for the business firm. The accountant
      also prepares year-end financial statements and the proper accounts for
      the firm. The year-end reports prepared by the accountant have to adhere
      to the standards established by the Financial Accounting Standards Board
      (FASB). These rules are called Generally Accepted Accounting Principles
      (GAAP).
    </h3>
  </div>
</div>
